#picture {
  text-align: center;
  margin-top: 2rem;
}

@media screen and (min-width: 992px) {
  #picture {
    text-align: start;
    margin-top: 0;
  }
}

#content {
  margin-top: 2rem;
}
@media screen and (min-width: 992px) {
  #content {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 0;
  }
}

/* event */

#event-row {
  margin-top: 20%;
}

#eventContent {
  text-align: center;
}

#eventPicture {
  margin-left: 3rem;
  margin-top: 1rem;
}

@media screen and (min-width: 992px) {
  #eventPicture {
    text-align: start;
  }
}

@media screen and (min-width: 992px) {
  #eventPicture {
    margin: 0;
  }
}
